WALG_S3_PREFIX=s3://${S3_BACKUP_BUCKET}/wal-g
AWS_ACCESS_KEY_ID=${S3_BACKUP_ACCESS_KEY}
AWS_SECRET_ACCESS_KEY=${S3_BACKUP_SECRET_KEY}
AWS_ENDPOINT=${S3_BACKUP_ENDPOINT}
AWS_S3_FORCE_PATH_STYLE=true
WALG_COMPRESSION_METHOD=lz4
WALG_DELTA_MAX_STEPS=6
